<section class="page-about_part1">
<div class="image-mov_section style="background:url('../img/img_test_first1/Dark_time.png');background-size:350px,170px"> <img class="image-mov" src=""
    alt="">
    <div class="text-Movie">
      <p class="image-mov_title title">Movie title (1970)</p>
      <div class="image-mov_butData">
        <div class="image-mov_but_items">
        <button class="image-mov_but star"></button>
        <button class="image-mov_but bell"></button>
      </div>
      <p class="data-down">12:12:12</p>
  </div>
  <div class="movie-descr_section">
    <div class="movie-descr_section in-hidden">
      <table>
        <tr class="green-line">
          <td>
            <p>страна</p>
          </td>
          <td>
            <p class="table-answ" data-field="country"></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>слоган</p>
          </td>
          <td>
            <p class="table-answ" data-field="tagline">"Никогла не сдавайся"</p>
          </td>
        </tr>
        <tr class="green-line">
          <td>
            <p>режиссер</p>
          </td>
          <td>
            <p class="table-answ" data-field="director">Джо Райт</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>сценарий</p>
          </td>
          <td>
            <p class="table-answ" data-field="scenario">Энтони МакКартен</p>
          </td>
        </tr>
        <tr  class="green-line">
          <td>
            <p>жанр</p>
          </td>
          <td>
            <p class="table-answ" data-field="genre">драма</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>время</p>
          </td>
          <td>
            <p class="table-answ" data-field="time">125 минут/02:05</p>
          </td>
        </tr>
      </table>
    </div>
    <h2 class="movie-descr_title">Про фильм</h2>
    <p class="movie-descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, ab aut reprehenderit
      delectus temporibus veniam itaque tempora repellendus provident! Asperiores doloremque cum tenetur. Eaque culpa
      beatae ea iure sit distinctio.
      Commodi delectus consequuntur doloremque reiciendis nobis facilis fugiat rem ab blanditiis nulla libero accusamus
      ea reprehenderit necessitatibus, neque molestiae odit harum eius dolore corporis perspiciatis quos? Amet suscipit
      optio magni.
      Soluta officia minima eum delectus laborum esse amet libero perspiciatis, accusamus suscipit impedit temporibus
      eius odit at modi similique ea, doloremque ipsum quia animi possimus deserunt perferendis. Incidunt, quos soluta?
    </p>
  </div>
</div>
</div>
  <!-- <div class="actors_section">
    <p class="actors_section_title">OUR ACTORS</p>
    <ul class="actors_items">
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
    </ul> -->
</div>
</section>
