<div class="page-about_part1">
  <div class="image-mov_section">
    <img class="image-mov" src="" alt="">
    <p class="image-mov_title">Movie title (1970)</p>
    <div class="image-mov_but_items">
 <button class="image-mov_but star"></button>
      <button class="image-mov_but bell"></button>
    </div>
    <p class="data-down">12:12:12</p>
  </div>
  <div class="movie-descr_section">
    <p class="movie-descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, ab aut reprehenderit delectus temporibus veniam itaque tempora repellendus provident! Asperiores doloremque cum tenetur. Eaque culpa beatae ea iure sit distinctio.
    Commodi delectus consequuntur doloremque reiciendis nobis facilis fugiat rem ab blanditiis nulla libero accusamus ea reprehenderit necessitatibus, neque molestiae odit harum eius dolore corporis perspiciatis quos? Amet suscipit optio magni.
    Soluta officia minima eum delectus laborum esse amet libero perspiciatis, accusamus suscipit impedit temporibus eius odit at modi similique ea, doloremque ipsum quia animi possimus deserunt perferendis. Incidunt, quos soluta?
    </p>
  </div>
  <div class="actors_section">
    <p class="actors_section_title">OUR ACTORS</p>
    <ul class="actors_items">
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>
      <li class="actors_item">
        <img class="actors_img" src="" alt="actor">
        <p class="actor_name">NAME ACTOR</p>
      </li>

    </ul>
  </div>
</div>
