<span class="spacer"></span>
<span class="spacer"></span>
<footer class="footer">
<div class="footer_div">
    <div class="social_network">
<a href="" class="social_network_link">
  <svg class="footer_svg">
  <use class="footer_svg_icon" href="../img/footer-icons.svg#facebook"></use>
  </svg></a>
<a href="" class="social_network_link">
    <svg class="footer_svg">
    <use class="footer_svg_icon" href="../img/footer-icons.svg#youtube"></use>
    </svg></a>
    <a href="" class="social_network_link">
        <svg class="footer_svg">
        <use class="footer_svg_icon" href="../img/footer-icons.svg#google-plus"></use>
        </svg></a>
        <a href="" class="social_network_link">
            <svg class="footer_svg">
            <use class="footer_svg_icon" href="../img/footer-icons.svg#instagram"></use>
            </svg></a>
  </div>
  <div class="footer_nav">
    <a href="" class="footer_nav_links">Main</a>
    <a href="" class="footer_nav_links">Contact</a>
    <a href="" class="footer_nav_links">Copyright</a>
  </div>
</div>
</footer>

