<ul class="films-list">
  <li class="films-item">
    <div class="img-container">
      <img class="img-sample" src="../img/img-film1.jpg" alt="movie" />
      <div class="gradient">
        <button class="button_icon button_icon-star" >

        <svg class="icon icon-star">
          <use href="../img/icons/sprite.svg#star"></use>
        </button>
        </svg>
        <button class="button_icon button_icon-bell" >

        <svg class="icon icon-bell">
          <use href="../img/icons/sprite.svg#bell"></use>
        </svg>
        </button>
      </div>
    </div>
    <p class="films-name">Большая игра (2017)</p>
  </li>

  <li class="films-item">
    <div class="img-container">
      <img class="img-sample" src="../img/img-film2.jpg" alt="movie" />
      <div class="gradient">
        <button class="button_icon button_icon-star" >

          <svg class="icon icon-star">
            <use href="../img/icons/sprite.svg#star"></use>
          </button>
          </svg>
          <button class="button_icon button_icon-bell" >

          <svg class="icon icon-bell">
            <use href="../img/icons/sprite.svg#bell"></use>
          </svg>
          </button>
      </div>
    </div>
    <p class="films-name">Атлантида (2017)</p>
  </li>
  <li class="films-item">
    <div class="img-container">
      <img class="img-sample" src="../img/img-film3.jpg" alt="movie" />
      <div class="gradient">
        <button class="button_icon button_icon-star" >

          <svg class="icon icon-star">
            <use href="../img/icons/sprite.svg#star"></use>
          </button>
          </svg>
          <button class="button_icon button_icon-bell" >

          <svg class="icon icon-bell">
            <use href="../img/icons/sprite.svg#bell"></use>
          </svg>
          </button>
      </div>
    </div>
    <p class="films-name">Приключения Паддингтона 2 (2017)</p>
  </li>
  <li class="films-item">
    <div class="img-container">
      <img class="img-sample" src="../img/img-film4.jpg" alt="movie" />
      <div class="gradient">
        <button class="button_icon button_icon-star" >

          <svg class="icon icon-star">
            <use href="../img/icons/sprite.svg#star"></use>
          </button>
          </svg>
          <button class="button_icon button_icon-bell" >

          <svg class="icon icon-bell">
            <use href="../img/icons/sprite.svg#bell"></use>
          </svg>
          </button>
      </div>
    </div>
    <p class="films-name">Темные времена (2017)</p>
  </li>
</ul>
