<header class="header">
<nav class="nav-header">
<div id="sidebar" class="sidebar">
    <button class="toggle-btn"><img class="menu-svg" src="../img/menu.svg" alt=""></button>
    <ul id="menu-list" class="menu-list">
      <li class="menu-items-click menu-items-click--film"><img class="movie-svg" src="../img/video.svg" alt="">Movies</li>
      <li class="menu-items-click menu-items-click--tv"><img class="movie-svg" src="../img/video.svg" alt="">TV Shows</li>
      <li class="menu-items-click"><img class="movie-svg" src="../img/star.svg" alt="">Favorite</li>
    </ul>
    </div>
  <div class="logotype">
  <img class="logo-img" src="../img/logo.png" alt="mooogle">
    <p class="logo-title">Mooogle</p>
  </div>
<button class="search-engine" id="search_engine_btn"><img class="search-svg" src="../img/search.svg" alt="svg-search">
</button>
</nav>
</header>
