<section class="page-about_section2">
  <div class="trailer">
    <h2 class="section2_subtitle">Trailer</h2>
    <iframe class="iframe_trailer" width="330" height="200" src="http://www.youtube.com/embed/akX3Is3qBpw"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="film-media">
    <div class="actors">
      <h2 class="section2_subtitle">Actors</h2>
      <ul class="actors-list">

      </ul>
    </div>
    <div class="frames">
      <h2 class="section2_subtitle">Frames</h2>
      <ul class="frames-list">

      </ul>
    </div>
  </div>
  </div>
  <div class="feedback">
    <h2 class="section2_subtitle">Feedbacks</h2>
    <ul class="feedback-list">
      <li class="feedback_item">
        <div class="feedback_photo">
          <img class="feedback_image" src="../img/feedback_img.png" alt="feedback author image" width="41"
            height="41" />
        </div>
        <div class="feedback_content">
          <h3 class="feedback_author">Виктория Гуменюк</h3>
          <span class="feedback_text">Молодцы, хороший фильм.</span>
        </div>
      </li>
      <li class="feedback_item">
        <div class="feedback_photo">
          <img class="feedback_image" src="../img/feedback_img2.png" alt="feedback author image" width="41"
            height="41" />
        </div>
        <div class="feedback_content">
          <h3 class="feedback_author">Андрей Чад</h3>
          <span class="feedback_text">Гари Олдману большая пятерка. Фильму – ноль. Врятли кого из здравомыслящих людей
            интересует жизнь полу-диктатора уровня Муссолини в...еще</span>
        </div>
      </li>
    </ul>
  </div>
</section>
