// body {
//   position: absolute;
// }

.search_block {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(119, 193, 187);
  transform: translate(100%, -100%) scale(0, 0);
  z-index: 1;
}

.show-search {
transform: translate(0, 0) scale(1, 1);
transition: transform 2000ms ease-in-out;
}

.search_logo {
  color: rgb(55, 44, 72);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 14px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.search_input {
  border: none;
  background-color: rgb(119, 193, 187);
  padding-left: 10px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.search_input::placeholder {
  color: #fff;
  background-color: rgb(119, 193, 187);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.search_input:focus {
  outline: none;
}

.search_btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgb(119, 193, 187);
  color: #fff;
  font-size: 24px;
}

.search_under_line::after {
  content: '';
  display: block;
  width: 250px;
  height: 2px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .logo {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 42px;
  }

  .search_input::placeholder {
    font-size: 18px;
  }
}

.is-hidden {
  // display: none;
}

.nv {
  display: flex;
  justify-content: space-between;
}
